@model IEnumerable<SimpleCRUD.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>List Customers </h2>
<p>@Html.ActionLink("New Customer", "Add New")</p>

<table class="table table-responsive table-striped">
   <thead >
       <tr>
           <th>Customer Name</th>
           <th>Customer Email</th>
           <th>Contact Number</th>
       </tr>
   </thead>
    <tbody>
        @foreach(var customer in Model)
        {
        <tr>
            <td>@Html.DisplayFor(c => customer.Name)</td>
            <td>@Html.DisplayFor(c => customer.Email)</td>
            <td>@Html.DisplayFor(c => customer.Phone)</td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = customer.Id })
                @Html.ActionLink("Views", "ViewCustomer", new { id = customer.Id })
                @Html.ActionLink("Delete", "Delete", new { id = customer.Id })
            </td>

        </tr>
        }
    </tbody>
</table>

